.search__input {
  inline-size: 100%;
  padding-inline: var(--indent-4) var(--indent-8);
  padding-block: var(--indent-3);
  border: 1px var(--color-gray-400) solid;
  border-radius: var(--radius-sm);
  color: var(--color-gray-800);
  font-family: inherit;
  line-height: var(--font-size-lg);
  anchor-name: --search-input;

  &::placeholder {
    color: var(--color-gray-600);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: 1px solid rgba(255, 63, 58, 0.4)
  }
}

.search__icon {
  position: absolute;
  position-anchor: --search-input;
  position-area: right center;
  display: inline-block;
  inline-size: 24px;
  block-size: 24px;
  background-color: var(--color-gray-600);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("/icons/search.svg");
  transform: translateX(-36px);
}
