.tab {
  display: inline-block;
  padding-inline: var(--indent-5);
  padding-block: 10px;
  border: none;
  border-radius: var(--radius-sm);
  background-color: transparent;
  font: inherit;
  line-height: 1.6;
  font-weight: 700;


}


