.toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--indent-6);
  margin-block-end: 60px;
}

.toolbar__list {
  margin-block: 0;
}

.toolbar__input {
  flex-grow: 1;
  max-inline-size: 315px;
  font-size: 14px;
}


