:root {
/* ----- ЦВЕТА ----- */
--color-white: #ffffff;

--color-gray-300: #e5e8ed;
--color-gray-400: #d7dadd;
--color-gray-600: #9a9ca5;
--color-gray-700: #787a80;
--color-gray-800: #424551;
--color-gray-900: #1e212c;

--color-primary: #ff3f3a;
--color-danger: #ff4242;
--color-success: #03cea4;
--color-info: #5a87fc;
--color-warning: #f89825;
--color-purple: #f52f6e;
--color-light-blue: #7772f1;

/* ----- ТИПОГРАФИКА ----- */
--font-family-base: "Lato", "Arial", sans-serif;

--font-size-sm: 0.88rem; /* 14px */
--font-size-base: 1rem;  /* 16px */
--font-size-md: 1.13rem; /* 18px */
--font-size-lg: 1.25rem;  /* 20px */

--font-size-sm: clamp(0.75rem, 1vw, 0.88rem);   /* 12px → 14px */
--font-size-base: clamp(0.88rem, 1.5vw, 1rem);  /* 14px → 16px */
--font-size-md: clamp(1rem, 2vw, 1.13rem);      /* 16px → 18px */
--font-size-lg: clamp(1.13rem, 2.5vw, 1.25rem); /* 18px → 20px */

/* ----- ОТСТУПЫ (4px сетка) ----- */
--base-indent: 0.25rem;

--indent-2: calc(var(--base-indent) * 2);    /* 8px */
--indent-3: calc(var(--base-indent) * 3);    /* 12px */
--indent-4: calc(var(--base-indent) * 4);    /* 16px */
--indent-5: calc(var(--base-indent) * 5);    /* 20px */
--indent-6: calc(var(--base-indent) * 6);    /* 24px */
--indent-7: calc(var(--base-indent) * 7);    /* 28px */
--indent-8: calc(var(--base-indent) * 8);    /* 32px */

/* ----- РАДИУСЫ ----- */
--radius-sm: 0.25rem;
}
