:root {
/* ----- ЦВЕТА ----- */
--color-white: #ffffff;

--color-grey-400: #d7dadd;
--color-grey-600: #9a9ca5;
--color-gray-700: #787a80;
--color-gray-800: #424551;
--color-grey-900: #1e212c;

--color-danger: #ff4242;
--color-success: #03cea4;
--color-info: #5a87fc;
--color-warning: #f89825;
--color-purple: #f52f6e;
--color-light-blue: #7772f1;

/* ----- ТИПОГРАФИКА ----- */
--font-family-base: "Lato", "Arial", sans-serif;

--font-size-base: 1rem;  /* 16px */
}
